/*
 *
 * CSS Template for Semantic Table Sorter
 *
 * Version 0.1.0
 * Dean M. Rantala <deanrantala@gmail.com>
 *
 */

table.sts {

}

table.sts thead {

}

/* Applied to all <th>'s */
table.sts thead tr th {

}

/* Applied to sortable <th>'s */
table.sts thead tr th.sortable {
	padding-left: 16px;
	background-image: url(black-unsorted.gif);
	background-repeat: no-repeat;
	background-position: 4px center;
	cursor: pointer;
	cursor: hand;
}

/* Applied to non-sortable <th>'s */
table.sts thead tr th.non-sortable {
}

/* Applied to <th> when sorted asc */
table.sts thead tr th.sort-asc {
	background-image: url(black-asc.gif);
	/*background-position: left center;*/
}

/* Applied to <th> when sorted desc */
table.sts thead tr th.sort-desc {
	background-image: url(black-desc.gif);
	/*background-position: left center;*/
}

table.sts tbody {

}

table.sts tbody tr {

}

table.sts tbody tr td {

}

table.sts tbody tr.row-even {
	/*background-color: #efefef;*/
        /*background-color: rgba(0,0,0,.03);*/
}

table.sts tbody tr.row-even td {

}

table.sts tbody tr.row-odd td {

}

/*
 * The following shows how to target the ajax-loading tr/td.
 *
 * HOWEVER - If you are wanting to keep the table from "jumping"
 * between pager switches, you probably want to statically set
 * the height of the tr or td on a page-per-page basis - OR - set
 * the height in a more application-specific way.  Setting it here
 * will be GLOBAL, and you may not always have the same row count
 * for all tables!
 *
 */
table.sts tbody tr.ajax-load {

}

table tbody tr.ajax-load td {
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

table.sts tbody tr.no-data {

}


/*
 * And this is just like ajax loading, but for "no data to display"
 * message tr/td.
 */
table tbody tr.no-data td {
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

/* Pager container */
.sts-pager {
    /*display: none;*/
    text-align: right;
}

.sts-pager .first, .sts-pager .prev{
}
/* "First page" button */
.sts-pager .first{
}
/* "Prev page" button */
.sts-pager .prev {
}

.sts-pager .last, .sts-pager .next{
}
/* "Last page" button */
.sts-pager .last {
}
/* "Next page" button */
.sts-pager .next {
}

/* "Page X of Y" text container */
.sts-pager .page-text {

}

/* "Records X-Y of Z" text container */
.sts-pager .row-text {

}

/* "Jump to" select */
select.jump-to,
.sts-pager select.jump-to {

}

.sts-pager select.jump-to option {

}







